ProyectoHotelero/web/WEB-INF/wsdl/localhost_8080/WebService/debitarMonto.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://TarjetasCredito/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://TarjetasCredito/">

<xs:element name="dibitarMonto" type="tns:dibitarMonto" />

<xs:element name="dibitarMontoResponse" type="tns:dibitarMontoResponse" />

<xs:complexType name="dibitarMonto">
<xs:sequence>
<xs:element name="numerotarjeta" type="xs:string" minOccurs="0" />
<xs:element name="monto" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dibitarMontoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
</xs:schema>